@font-face {
    font-family: "Norse";
    src: url("Fonts/Norse.otf") format("OpenType");
 }
 @font-face {
    font-family: "Norse-Bold";
    src: url("Fonts/Norse-Bold.otf") format("OpenType");
 }
 /* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap'); */




 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}








:root,
:root.light {
   --background-color: #FFFDF3;
   --secondary-background-color: #fff;   
   --opposite-background-color: #2b2b2b;
   --opposite-secondary-background-color: #171717; 
   --default-text-color: #6E6E6E;
   --gold-color: #CE973E;
   --blue-green-color: #6ABFC3;
   --gray-supp: #999999;
   /* --button-text-color: #424242; */
   --add-book-text-color: #005256;
   --sort-arrow-color: #e7e7e7;
}

:root.dark {
   --background-color: #2b2b2b;  /* 151515 */
   --secondary-background-color: #171717;   /* #242424 */
   --opposite-background-color: #FFFDF3;
   --opposite-secondary-background-color: #fff; 
   --default-text-color: #FFFDF3;
   --gray-supp: #bababa;
   /* --button-text-color: #171717; */
   --add-book-text-color: #CFF4F5;
   --sort-arrow-color: #444444;
}


.desktop,
.edit-book-button {
    display: none;
}


body {
    font-family: 'Lato';
    min-height: 100vh;
}


/* ====================================================================================================
    Mobile Header   ===================================================================================
==================================================================================================== */
.main-content-container {
    padding: 0px 25px;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: auto auto;     /*  min-content min-content        min(20vh) auto  */
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    min-height: 100vh;
    max-height: 100vh;
    /* position: sticky; */
    overflow: hidden;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.mobile.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
    padding: 10px 0;
}

.menu-button {
    background-color: transparent;
    color: var(--blue-green-color);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    /* visibility: hidden; */
    z-index: 100;
}
.menu-icon {
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.open-menu {
    transition-duration: 0.15s;
}
.close-menu {
    transform: rotate(0deg);
    transform-origin: center;
    /* transition: transform; */
    transition-duration: 0.3s;
    color: var(--default-text-color);
}

.mobile.title {
    font-family: 'Norse-Bold';
    color: var(--gold-color);
    font-size: 60px;    /* 45px */
    margin-top: 10px;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}
.dark .mobile.title {
    color: var(--default-text-color);
}



.theme-button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    width: 55px;
    height: auto;
    z-index: 10;
    /* border: 1px solid red; */
 }

.dark-mode-icon {
    fill: white;
    width: 100%;
}
.light-mode-icon {
    fill: var(--gold-color);
    width: 100%;
}
/* .dark .dark-mode-icon {
    fill: var(--default-text-color);
} */
.theme-button.light {
display: none;
}
.dark .theme-button.dark {
display: none;
}

.dark .theme-button.light {
display: block;
}


.mobile.filter-sort-container {
display: flex;
justify-content: space-evenly;
align-items: center;
grid-row: 2 / 3;
border-bottom: 2px solid var(--gray-supp);
gap: 10px;
padding: 10px 0;
}

.sort-buttons-container {
    display: flex;
    gap: 5px;
}

.mobile.filter-select,
.mobile.sort-select,
.sort-normal-reverse-button {
background-color: var(--blue-green-color); 
border-radius: 6px;
border: none;
text-align: center;
}

#mobile-filter-select,
#mobile-sort-select {
padding: 10px 10px;
font-size: 16px;
font-weight: 700;
height: 50px;
outline: none;
color: var(--secondary-background-color);
-webkit-transition: color 200ms linear;
-ms-transition: color 200ms linear;
transition: color 200ms linear;
box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

#mobile-filter-select:focus,
#mobile-sort-select:focus,
#mobile-filter-select:active,
#mobile-sort-select:active {
    outline: none;
}


.sort-normal-reverse-button {
background-color: var(--sort-arrow-color);
height: 50px;
width: 50px;
-webkit-transition: background-color 200ms linear;
-ms-transition: background-color 200ms linear;
transition: background-color 200ms linear;
box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.sort-normal-reverse-icon {
fill: var(--default-text-color);
height: 100%;
width: 100%;
}
.sort-normal {
transform: rotate(0deg);
transition-duration: 0.3s;
}
.sort-reverse {
    transform: rotate(-180deg);
    transition-duration: 0.3s;
}

select,
option {
    font-family: 'Lato';
}


/* ====================================================================================================
    Mobile Menu   =====================================================================================
==================================================================================================== */
 .sidebar-menu-container {
    background-color: var(--background-color);
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    position: absolute;    /* fixed */
    /* overflow-y: hidden; */
    top: 0;
    left: 0;
    z-index: 2;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    transform: translateX(-100vw);
    transition: transform 0.3s;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
 }
.hide-menu {
    transform: translateX(-100vw);
    transition: transform 0.15s;
}
.show-menu {
    transform: translateX(0);
    transition: transform 0.3s;
}


.mobile.add-or-edit-book-title {
    text-align: center;
    font-size: 50px;
    padding-top: 75px;
    font-weight: 900;
    color: var(--blue-green-color);
}

 .form-container {
     display: grid;
     align-items: start;
     /* padding: 75px 25px 0 25px; */
     overflow-y: scroll;
     margin-top: 20px;
     justify-content: center;
 }

 /* form {
    padding-left: 10vw;
 } */

 .book-info-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

 .book-info-form > * {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .form-text {
     color: var(--add-book-text-color);
     -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
 }

 input,
 #status-dropdown {
     height: 40px;
     background-color: #6abfc338;
     color: var(--opposite-background-color);
 }

 input {
     padding-left: 10px;
    width: 500px;
 }

 input:focus {
     background-color: var(--background-color);
     outline: 2px solid var(--blue-green-color);
 }

 #status-dropdown {
     border-radius: 5px;
     padding-left: 10px;
     box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
     width: 500px;
 }

 .add-book-star-rating-container {
    flex-direction: row;
 }

 .add-edit-book-heading {
    font-size: 22px;
    font-weight: 700;
 }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row!important;
    gap: 15px;
    padding: 50px 0 20px 0;
    color: var(--default-text-color);
    font-weight: 700;
}

.github-profile-link {
    color: var(--opposite-secondary-background-color);
    text-decoration: none;
}

.github-project-link {
    fill: var(--opposite-secondary-background-color);
}




/* ====================================================================================================
    Books Section   ===================================================================================
==================================================================================================== */
.books-section {
    background-color: var(--secondary-background-color);
    height: 100vh;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    position: static;
    overflow-y: scroll;
} 













/* ====================================================================================================
    Media Queries   ===================================================================================
==================================================================================================== */




@media (max-width: 600px) {
    .mobile.title {
        font-size: 10vw;
    }
    input {
        width: 85vw;
    }
    #status-dropdown {
        width: 85vw;
    }
}



@media (max-width: 500px) {
    .mobile.add-or-edit-book-title {
        font-size: 10vw;
        padding-top: 10vh;
    }
    
    /* .form-container {
        padding-left: 25px;
        padding-right: 25px;
    } */
   
    .form-container {
        max-width: 100vw;
        /* padding-left: 25px; */
    }
}




@media (max-width: 410px) {
    .mobile.filter-sort-container {
        flex-direction: column;
    }

    #mobile-filter-select,
    #mobile-sort-select,
    .sort-normal-reverse-button {
        height: 30px;
        padding: 0px 10px;
    }
}





@media (min-width: 900px) {
    .form-container {
        margin-top: 50px;
    }
}