@font-face {
    font-family: "Norse";
    src: url("Fonts/Norse.otf") format("OpenType");
 }
 @font-face {
    font-family: "Norse-Bold";
    src: url("Fonts/Norse-Bold.otf") format("OpenType");
 }



 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}











:root,
:root.light {
   --background-color: #FFFDF3;
   --secondary-background-color: #fff;   
   --opposite-background-color: #2b2b2b;
   --opposite-secondary-background-color: #171717; 
   --default-text-color: #6E6E6E;
   --gold-color: #CE973E;
   --blue-green-color: #6ABFC3;
   --gray-supp: #999999;
   /* --button-text-color: #424242; */
   --add-book-text-color: #005256;
   --sort-arrow-color: #e7e7e7;
   --add-book-incomplete-color: #6E6E6E;
   --inactive-star-color: rgb(212, 212, 212);
   --books-container-outline-color: #999;
}

:root.dark {
   --background-color: #1a1a1a;  /* 2b2b2b  151515 */
   --secondary-background-color: #121212;   /* #242424 */
   --opposite-background-color: #FFFDF3;
   --opposite-secondary-background-color: #fff; 
   --default-text-color: #FFFDF3;
   --gray-supp: #bababa;
   /* --button-text-color: #171717; */
   --add-book-text-color: #CFF4F5;
   --sort-arrow-color: #444444;
   --add-book-incomplete-color: #bababa;
   --inactive-star-color: rgb(65, 65, 65);
   --books-container-outline-color: #F9F0E1;
}


.desktop,
.edit-book-button {
    display: none;
}


body {
    font-family: 'Lato';
    min-height: 100vh;
}


/* ====================================================================================================
    Mobile Header   ===================================================================================
==================================================================================================== */
.main-content-container {
    padding: 0px 25px;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: auto 1fr;     /*  min-content min-content        min(20vh) auto  */
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    min-height: 100vh;
    max-height: 100vh;
    /* position: sticky; */
    overflow: hidden;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.mobile.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
    padding: 10px 0;
}

.menu-button {
    background-color: transparent;
    color: var(--blue-green-color);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    /* visibility: hidden; */
    z-index: 100;
    position: sticky;
}
.menu-icon {
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    transition: transform;
    -webkit-transition: transform;
    -ms-transition: transform;
}
.open-menu {
    transition-duration: 0.15s;
}
.close-menu {
    transform: rotate(0deg);
    transform-origin: center;
    /* transition: transform; */
    transition-duration: 0.3s;
    color: var(--default-text-color);
}

.mobile.title {
    font-family: 'Norse-Bold';
    color: var(--gold-color);
    font-size: 60px;    /* 45px */
    margin-top: 10px;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}
.dark .mobile.title {
    color: var(--default-text-color);
}



.theme-button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    width: 55px;
    height: auto;
    z-index: 10;
    /* border: 1px solid red; */
 }

.dark-mode-icon {
    fill: var(--gray-supp);
    width: 100%;
}
.light-mode-icon {
    fill: var(--gold-color);
    width: 100%;
}
/* .dark .dark-mode-icon {
    fill: var(--default-text-color);
} */
.theme-button.light {
display: none;
}
.dark .theme-button.dark {
display: none;
}

.dark .theme-button.light {
display: block;
}


.mobile.filter-sort-container {
display: flex;
justify-content: space-evenly;
align-items: center;
grid-row: 2 / 3;
border-bottom: 2px solid var(--gray-supp);
gap: 10px;
padding: 10px 0;
}

.sort-buttons-container {
    display: flex;
    gap: 5px;
}

.mobile.filter-select,
.mobile.sort-select,
.sort-normal-reverse-button {
background-color: var(--blue-green-color); 
border-radius: 6px;
border: none;
text-align: center;
}

#mobile-filter-select,
#mobile-sort-select {
padding: 10px 10px;
font-size: 16px;
font-weight: 700;
height: 50px;
outline: none;
color: var(--secondary-background-color);
-webkit-transition: color 200ms linear;
-ms-transition: color 200ms linear;
transition: color 200ms linear;
box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

#mobile-filter-select:focus,
#mobile-sort-select:focus,
#mobile-filter-select:active,
#mobile-sort-select:active {
    outline: none;
}


.sort-normal-reverse-button {
background-color: var(--sort-arrow-color);
height: 50px;
width: 50px;
-webkit-transition: background-color 200ms linear;
-ms-transition: background-color 200ms linear;
transition: background-color 200ms linear;
box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.sort-normal-reverse-icon {
fill: var(--default-text-color);
height: 100%;
width: 100%;
}
.sort-normal {
transform: rotate(0deg);
transition-duration: 0.3s;
}
.sort-reverse {
    transform: rotate(-180deg);
    transition-duration: 0.3s;
}

select,
option {
    font-family: 'Lato';
}


/* ====================================================================================================
    Mobile Menu   =====================================================================================
==================================================================================================== */
 .sidebar-menu-container {
    background-color: var(--background-color);
    /* -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; */
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    position: absolute;    /* fixed */
    /* overflow-y: hidden; */
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 2;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    transform: translateX(-100vw);
    transition: transform 0.3s, background-color 200ms linear;
    -webkit-transition: transform 0.3s, background-color 200ms linear;
    -ms-transition: transform 0.3s, background-color 200ms linear;
 }
.hide-menu {
    transform: translateX(-100vw);
    /* transition: transform 0.15s; */
    transition: transform 0.15s, background-color 200ms linear;
    -webkit-transition: transform 0.15s, background-color 200ms linear;
    -ms-transition: transform 0.15s, background-color 200ms linear;
}
.show-menu {
    transform: translateX(0);
    /* transition: transform 0.3s; */
    transition: transform 0.3s, background-color 200ms linear;
    -webkit-transition: transform 0.3s, background-color 200ms linear;
    -ms-transition: transform 0.3s, background-color 200ms linear;
}


.mobile.add-or-edit-book-title {
    text-align: center;
    font-size: 50px;
    padding-top: 75px;
    font-weight: 900;
    color: var(--blue-green-color);
}

 .form-container {
     display: grid;
     align-items: start;
     /* padding: 75px 25px 0 25px; */
     /* overflow-y: scroll; */
     background-color: var(--background-color);
     -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
     margin-top: 60px;
     justify-content: center;
 }

 /* form {
    padding-left: 10vw;
 } */

 .book-info-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

 .book-info-form > * {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .form-text {
     color: var(--add-book-text-color);
     -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
 }

 input,
 #status-dropdown {
     height: 40px;
     background-color: #6abfc338;
     color: var(--opposite-background-color);
 }

 input {
    padding-left: 10px;
    width: 500px;
 }

 input:focus {
     background-color: var(--background-color);
     outline: 2px solid var(--blue-green-color);
 }

 .input-required-alert {
    outline: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
 }

 #status-dropdown {
     border-radius: 5px;
     padding-left: 10px;
     /* box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25); */
     box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
     width: 510px;
     -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear; 
 }

 #status-dropdown > * {
     color: #fff;
 }

 .add-book-star-rating-container {
    flex-direction: row;
 }

.add-book-star-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.add-star,
.add-star.star-visible {
    width: 100%;
    height: 100%;
    fill: var(--inactive-star-color);
    -webkit-transition: fill 200ms linear;
    -ms-transition: fill 200ms linear;
    transition: fill 200ms linear; 
}
.add-star-hover:hover,
.add-star-hover.star-visible-hover:hover {
    fill: var(--blue-green-color);
    cursor: pointer;
}

.add-star-active,
.add-star-active.star-visible {
    width: 100%;
    height: 100%;
    fill: var(--blue-green-color);
    -webkit-transition: fill 200ms linear;
    -ms-transition: fill 200ms linear;
    transition: fill 200ms linear; 
}
.add-star-active-hover:hover,
.add-star-active-hover.star-visible-hover:hover {
    fill: #85dce0;
    cursor: pointer;
}

.star-visible {
    display: block;
    cursor: pointer;
}

.star-visible.star-is-required {
    fill: rgba(255, 0, 0, 0.5);
}

.star-hidden {
    display: none;
}




 .add-edit-book-heading {
    font-size: 22px;
    font-weight: 700;
 }

 .submit-button,
 .submit-button:focus {
    width: 510px;
    outline: none;
    /* background-color: var(--blue-green-color); */
    background-color: var(--blue-green-color);
    /* box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    /* color: var(--secondary-background-color); */
    color: var(--secondary-background-color);
    height: 70px;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    -webkit-transition: color 200ms linear, background-color 100ms linear;
    -ms-transition: color 200ms linear, background-color 100ms linear;
    transition: color 200ms linear, background-color 100ms linear; 
    padding: 0;
 }
 .submit-button:hover {
     cursor: pointer;
    background-color: #8bdadf;    /*  6abfc3c7    */
 }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row!important;
    gap: 15px;
    padding: 20px 0 20px 0;
    color: var(--default-text-color);
    font-weight: 700;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear; 
}

.github-profile-link {
    color: var(--opposite-secondary-background-color);
    text-decoration: none;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear; 
}

.github-project-link {
    fill: var(--opposite-secondary-background-color);
    -webkit-transition: fill 200ms linear;
    -ms-transition: fill 200ms linear;
    transition: fill 200ms linear; 
    width: 48px;
    height: 48px;
}




/* ====================================================================================================
    Books Section   ===================================================================================
==================================================================================================== */
.books-section {
    background-color: var(--secondary-background-color);
    /* background-color: #6abfc32f; */
    /* height: 100vh; */
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    position: static;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* scrollbar-width: 0; */
    gap: 2px;
} 

.books-section > * {
    padding: 15px 0;
}













/* ====================================================================================================
    Media Queries   ===================================================================================
==================================================================================================== */
@media (max-width: 600px) {
    .mobile.title {
        font-size: 10vw;
    }
    input {
        width: 85vw;
    }
    #status-dropdown {
        width: 85vw;
    }
    .submit-button,
    .submit-button:focus {
        width: 85vw;
    }
}




@media (max-width: 500px) {
    .mobile.add-or-edit-book-title {
        font-size: 10vw;
        padding-top: 10vh;
    }   
    .form-container {
        max-width: 100vw;
    }
}




@media (max-width: 410px) {
    .mobile.filter-sort-container {
        flex-direction: column;
    }
    #mobile-filter-select,
    #mobile-sort-select,
    .sort-normal-reverse-button {
        height: 30px;
        padding: 0px 10px;
    }
}




@media (min-width: 900px) {
    .form-container {
        margin-top: 50px;
    }
}








/* ====================================================================================================
    Desktop Media Queries   ===========================================================================
==================================================================================================== */
@media (min-width: 1400px) and (min-height: 750px) {   


    .mobile {
        display: none !important; 
    }
    .desktop {
        display: block;
    }


    body {
        display: flex;
        flex-direction: row-reverse;
    
    }


    .main-content-container {
        flex: 1;
        padding: 0 20px;
    }


    .header-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .theme-button-container {
        display: flex;
        justify-content: end;
    }

    .theme-button {
        height: 45px;
        width: 45px;
        margin-top: 20px;
    }

    .theme-button:hover {
        cursor: pointer;
    }


    .filter-and-total-books-container {
        display: flex;
        justify-content: space-evenly;
    }

    .filter-container {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .filter-container > * {
        font-size: 16px;
        font-weight: 700;
        color: var(--default-text-color);
        background-color: transparent;
        -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;
        height: 36px;
    }

    .filter-container > *:hover {
        cursor: pointer;
    }

    .filter-option-selected,
    .filter-option-selected:hover {
        color: var(--blue-green-color);
        border-bottom: solid 3px var(--blue-green-color);
        /* border-top: solid 3px var(--background-color); */
        padding-top: 3px;
        /* font-weight: 900; */
        -webkit-transition: color 0ms linear, border-color 200ms linear;
        -ms-transition: color 0ms linear, border-color 200ms linear;
        transition: color 0ms linear, border-color 200ms linear;
    }



    .total-books-text {
        font-size: 30px;
        font-weight: 700;
        color: var(--default-text-color);
        border-bottom: 3px solid var(--gray-supp);
        padding: 0 4px 2px 45px;
        /* padding-right: 4px; */
        -webkit-transition: color 200ms linear, border-color 200ms linear;
        -ms-transition: color 200ms linear, border-color 200ms linear;
        transition: color 200ms linear, border-color 200ms linear;
        
    }

    .total-books-number {
        font-size: 30px;    /* 26px */
        font-weight: 900;
        color: var(--gold-color);
        display: flex;
        justify-content: end;
        padding-right: 4px;
        padding-top: 2px;
    }


    .sort-container {
        display: grid;
        grid-template-columns: 4fr 4fr 2fr 2fr 2fr 3fr;
        padding: 40px 0 3px 10px;
        align-items: flex-end;
        border-bottom: 3px solid var(--books-container-outline-color);
    }

    .sort-container > * {
        display: flex;
        justify-content: center;
    }

    .sort-date-added-container {
        justify-content: start;
    }

    .sort-container > * > * {
        background-color: transparent;
        color: var(--default-text-color);
        font-size: 16px;
        font-weight: 700;
        display: flex;
        -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;
    }

    .sort-container > * > *:hover {
        cursor: pointer;
    }

    .sort-container > * > *.sort-selected {
        color: var(--blue-green-color);
        font-weight: 900;
    }

    .sort-container > * > * > * {
        width: 20px;
        height: 20px;
    } 

    .sort-container > * > * > .sort-selected * {
        fill: var(--blue-green-color);
    } 

    .sort-status {
        padding-bottom: 4px;
    }

    .sort-status:hover {
        cursor: default;
    }








    .books-section::-webkit-scrollbar {
        width: 0px;
        background: transparent; 
    }
    /* .books-section {
        border: 1px dotted black;
        overflow: scroll;
    } */
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* .books-section::-webkit-scrollbar {
        display: none;
    } */
    /* Hide scrollbar for IE, Edge and Firefox */
    .books-section {
        -ms-overflow-style: none;   /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* border-top: 3px solid var(--books-container-outline-color); */
        -webkit-transition: background-color 200ms linear, border-color 200ms linear;
        -ms-transition: background-color 200ms linear, border-color 200ms linear;
        transition: background-color 200ms linear, border-color 200ms linear;
        overflow-y: scroll;
    }

    .book-container {
        padding: 0px 0px 0px 10px;
        display: grid;
        grid-template-columns: 4fr 4fr 2fr 2fr 2fr 1.5fr 1.5fr;
        background-color: var(--secondary-background-color);
        min-height: 66px;
        /* align-items: center; */
        border-bottom: 2px solid #6abfc32f;   
        margin-bottom: -2px;     
    }
    .book-container:hover {
        background-color: var(--background-color);
        cursor: pointer;
    }

    .book-container > * {
        font-size: 14px;
        font-weight: 700;
        color: var(--default-text-color);
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;        
        text-align: center;
    }
    .book-container > *:hover {
        cursor: pointer;
        color: var(--gold-color);
        /* font-weight: 700; */
        background-color: var(--background-color);
    }

    .book-rating-stars-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 5px; */
        width: 100%;
    }

    .individual-book-star {
        fill: var(--blue-green-color);
        height: 24px;
        width: 24px;
        display: block;
    }
/* 
    .book-date-added {
        align-self: center;
    } */


















    .sidebar-menu-container {
        position: static;
        transform: none;
        overflow-y: hidden;
        width: 230px;
        padding-right: 0;
        padding-left: 20px;
    }


    .desktop.title {
        font-family: 'Norse-Bold';
        font-size: 50px;
        color: var(--gold-color);
        margin-top: 40px;
    }


    .form-container {
        padding-right: 0;
        width: 230px;
        justify-content: left;
        align-items: center;
        margin-top: 0px;
    }


    .form-text {
        font-size: 16px;
    }


    .book-info-form {
        gap: 25px;
     }

     .book-info-form > * {
         gap: 5px;
     }


    input,
    #status-dropdown {
       height: 25px;
       width: 200px; 
       font-size: 14px;
       -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear; 
    }

    #status-dropdown:hover,
    option:hover {
        cursor: pointer;
    }


    #page-count {
        width: 70px;
    }


    .add-book-star-button {
        width: 30px;
        height: 30px;
    }


    .submit-button,
    .submit-button:focus {
        width: 200px; 
        height: 60px;
        font-size: 18px;
        border-radius: 4px;
        align-self: center;
        margin-top: 20px;
    }


    footer {
        justify-content: center;
        width: 230px;
        font-size: 14px;
    }


    .github-profile-link {
        color: var(--gold-color);
        -webkit-transition: color 75ms linear;
        -ms-transition: color 75ms linear;
        transition: color 75ms linear; 
    }

    .github-profile-link:hover {
        color: var(--opposite-secondary-background-color);
    }

    .github-project-link {
        fill: var(--gold-color);
        width: 30px;
        height: 30px;
        -webkit-transition: fill 75ms linear;
        -ms-transition: fill 75ms linear;
        transition: fill 75ms linear; 
    }

    .github-project-link:hover {
        fill: var(--opposite-secondary-background-color);
    }
}










@media (min-height: 800px) {
    .header-container {
        gap: 30px;
    }
}












/* flex grow = 0 on books container when screen too big, flex grow = 1 on sidebar container */
@media (min-width: 1800px) {
    .main-content-container {
        flex: 0;
        min-width: 1475px;  /*  1370px  */
        padding-right: 40px;
    }


    /* .theme-button {
        margin-top: 40px;
    } */


    .sidebar-menu-container {
        width: auto;
        flex: 1;
        padding-left: 40px;
    }


    .form-container {
        width: 230px;
    }    
}


/*  media query for min width 1700 and min height 650 */